.mapContainer {
    /* height: 703px; */
    width: 55%;
    background: #ffffff;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 6px 10px 0px rgba(124, 138, 191, 0.25);
    border-radius: 20px;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
}

.bikeStatusExportBtn {
    background: transparent;
    color: rgba(43, 54, 116, 1);

    border: 1px solid rgba(67, 24, 255, 1);
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}

.bikeStatusExportBtn:hover {
    background: #4F46E5;
    color: #fff;
}

.mapContainerHeader {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 15px;
}

.mapContainerHeader p {
    font-size: 14px;
    font-weight: 500;
    color: #707EAE;
}