.container {
    display: flex;
    overflow: hidden;
}

.sidebar {
    background-color: #010F42;
    height: 100vh;
    width: 225px;
    padding: 20px;
    position: fixed;
}

.mainWrapper {
    margin-left: 225px;
}

.mapContainer {
    /* height: 703px; */
    /* width: 55%; */
    background: #ffffff;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 6px 10px 0px rgba(124, 138, 191, 0.25);
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
}

.mainContent {
    min-height: 100vh;
    width: calc(100vw - 245px);
    padding: 10px;
    background: #ffffff;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
}



.rowSpacingMore {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    /* Same replacement for ViewHeight(16) */
    margin-left: 24px;
    /* ViewWidth(24) */
}

.emptyBox {}

.cardSpacingHorizontal {
    margin-left: 24px;
    /* ViewWidth(24) */
}

.cardSpacingVertical {
    margin-left: 24px;
    /* ViewHeight(24) */
}

.bikeStatusExportBtn {
    background: transparent;
    color: rgba(43, 54, 116, 1);

    border: 1px solid rgba(67, 24, 255, 1);
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}

.bikeStatusExportBtn:hover {
    background: #4F46E5;
    color: #fff;
}

.mapContainerHeader {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 15px;
}

.mapContainerHeader p {
    font-size: 14px;
    font-weight: 500;
    color: #707EAE;
}