@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif !important;
}

@keyframes loadingAnimation {
  from {
    opacity: 0.2;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.card {
  @apply bg-white p-4 rounded-xl shadow-sm border border-gray-100;
}

.dropdown-main {
  border: 1px solid #C8CCD9;
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}


/* .login-card input {
  border: 1px solid #030229 !important;
  color: #000 !important;
  padding: 10px !important;
  border-radius: 10px !important;
  width: 100% !important;
} */
/* 
.login-card button {
  border: 1px solid #000;
  color: #000;
} */

.error-text {
  color: red !important;
  text-align: left !important;
}


td {
  color: #707EAE;
  border-right: 1px solid #03022920;
  font-size: 13px;
}

th {
  border-right: 1px solid #03022920;
  border-top: 1px solid #03022920;
  border-bottom: 1px solid #03022920 !important;
  font-size: 14px;
}

.statusActive {
  color: #296E27;
  background-color: #3FBC3C44;
}

.statusInactive {
  color: #745C11;
  background-color: #FFE185;
}